div.center
{
	text-align: center;
}

div.cards
{
	background-image: url("images/cards.png");
	background-position: 0px 0px;
	float:left;
	height: 123px;
	width: 79px;
}

div#cards
{
	width: 0px;
	margin:0 auto;
}

